---
import Social from "./Social.astro";
---

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }

    .footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
<footer class="footer">
    <!-- <ul>
        <li>Quick</li>
        <li>Efficient</li>
        <li>Economic</li>
        <li>Global</li>
    </ul>
    <ul>
        <li>Learn</li>
        <li>Review</li>
        <li>Write</li>
    </ul>

    <div class="socials"> -->
    <Social platform="twitter" username="coronellw" />
    <Social platform="github" username="coronellw" />
    <Social platform="youtube" username="coronellw" />
    <!-- </div> -->
</footer>
